@charset "utf-8";/* 全局样式 */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;font:12px/1.5 \5b8b\4f53,Arial,Lucida,Verdana,Helvetica,sans-serif;}
BODY {BACKGROUND: url(../images/mainbg.jpg) repeat-x #E0F2FF; OVERFLOW-X: hidden; OVERFLOW: hidden; FONT-SIZE: 12px; MARGIN: 0px; COLOR: #000; FONT-FAMILY: tahoma, 宋体, fantasy; TEXT-ALIGN: center}
ul,ol{list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-size:12px;}
select,input,img,textarea,iframe{vertical-align:middle;}
em{COLOR: #999; FONT-SIZE: 12px; FONT-STYLE: normal}
A {COLOR: #135294; TEXT-DECORATION: none}
A:hover {COLOR: #ff6600; TEXT-DECORATION: underline}
A {outline: expression(this.hideFocus=true);outline: none;}
*{MARGIN:0; PADDING:0; WORD-BREAK: break-all}
span.cke_wrapper cke_ltr,table.cke_editor, td.cke_contents, span.cke_skin_kama, span.cke_wrapper, span.cke_browser_webkit{height: 100%!important;}
.clearfix {CLEAR: both}
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
.clear {display: inline-table;} 
/* Hides from IE-mac \*/ 
* html .clear {height: 1%;} 
.clear {display: block;} 
/* End hide from IE-mac */ 
.leftR10 {FLOAT: left; MARGIN-RIGHT: 10px}
.blank {HEIGHT: 10px; OVERFLOW: hidden}
.mainWIDTH {WIDTH: 988px}
.m10 {MARGIN-TOP: 10px}
.fonts {COLOR: #000; FONT-SIZE: 14px}
.FLOAT {FLOAT: left; MARGIN-RIGHT: 15px}
.limit {float: left;margin:0;padding:0;width: 200px;}
.inbnt {DISPLAY: block}
.line {LINE-HEIGHT: 18px; COLOR: #666; WORD-BREAK: break-all}
.p {LINE-HEIGHT: 18px; COLOR: #666; WORD-BREAK: break-all}
.p {BORDER-BOTTOM: #ffe7b7 1px solid; BORDER-LEFT: #ffe7b7 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fdfcf8; BORDER-TOP: #ffe7b7 1px solid; BORDER-RIGHT: #ffe7b7 1px solid; PADDING-TOP: 5px}
.red {COLOR: #ff0000}
.head {MARGIN: 0 auto; PADDING:0; WIDTH: 100%; CLEAR: both}
#logo {FLOAT: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING: 0; width:250px;}
#logo IMG {PADDING-RIGHT: 4px; FLOAT: left}
#logo SPAN A {PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FLOAT: left; COLOR: #ffffff; PADDING-TOP: 5px;font-family:Microsoft YaHei,SimHei;font-size:20px;font-weight:bold;}
#logo SPAN .a {PADDING-TOP: 11px}
#service {FLOAT: right; TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING: 0; width:600px;}
#service .layout{float:right;width:600px;height:30px;line-height:30px;background:url(../images/vertical/ServiceL.jpg) no-repeat right 0; filter:alpha(opacity=90); -moz-opacity:0.9; opacity:0.9;}
#service .layout span{display:inline-block;padding:0 10px 0 10px;color:#fff}
#service .layout em{background:url(../images/vertical/hi.gif) no-repeat 0 -1px; padding-left:20px;color:#fff}
#service .layout a{color:#fff}
.foot {MARGIN: 0 auto; WIDTH: 100%; HEIGHT: 30px; LINE-HEIGHT: 30px; FONT-SIZE: 12px; CLEAR: both; background: #E0F2FF;}
.foot a{TEXT-DECORATION: none}
.foot .copy {FLOAT: left; WIDTH: 70%; TEXT-ALIGN: left; HEIGHT: 30px; LINE-HEIGHT: 30px; PADDING-LEFT: 5px}
.foot .lang {FLOAT: right; TEXT-ALIGN: right; HEIGHT: 30px; LINE-HEIGHT: 25px; FONT-SIZE: 12px; PADDING: 0 12px; z-index: 100}
.foot .lang ul {}
.foot .lang ul li {float: left; height:30px; line-height:30px; text-align:right; padding: 0 16px 0 0; margin:0; position: relative; BACKGROUND: url(../images/arr.gif) no-repeat right 9px;}
.foot .lang ul li a.noclick {}
.foot .lang dl {width:80px; border: 1px solid #0164a0; position: absolute; bottom: 25px; right: -10px; z-index: 99; display: none; *bottom: 23px; background:#58a2d3}
.foot .lang dl a:hover { color: #f18336 !important; text-decoration:none;}
.foot .lang dl dd {float:left; width:76px; height:22px; line-height:22px; margin:0 2px; padding:0; border-bottom: 1px solid #a7d3f0}
.foot .lang dl dd a {display:block; text-align: center; padding: 0; border-right: none; color: #fff; font-weight: normal}
.foot .lang dl dd a:hover{background:#a7d3f0}
.foot .lang dl dd.last { background-image: none;border:none}
.foot .lang dl dd.last a { border-bottom: none; }
#dvTips,.dvTips {position:absolute; z-index: 99999;}
.dvTips_outer{position:relative;border-color:#C4D8ED}
.dvTips_inner{position: static}
/*.dvTips_bg{position:absolute; left:0px; top:0px; width:100%; height:100%; background-color:#EBF6FF; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}*/
.dvTips_content{color:#808080}
.dvTips_holder{border-width:0px; border-style:solid; border-radius:4px;}/*outer border*/
.dvTips_outer{border-width:1px; border-style:solid; border-radius:3px; margin:0px; }/*inner border*/
.dvTips_content{white-space: nowrap; padding:4px 9px; font-size:12px; line-height: 130%; text-align:left;background-color:#EBF6FF; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}/*content*/
.print-btn{LINE-HEIGHT: 35px;HEIGHT: 35px;padding-left: 10px;  BORDER-BOTTOM: 1px solid #C4D8ED; BACKGROUND: url(../images/vertical/menu_left_topbg.gif) repeat-x;text-align:left}
.tprint-btn {
    background-color: #cccccc;
    border-bottom: 1px solid #c4d8ed;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    text-align: left;
}
.fieldset{border:1px #ECECEC solid}
.fieldset legend{font-size:13px;color:#2D52A5;padding:0 5px}
.fieldset th{width:12%}
.input{height:25px;line-height:25px;font-size:12px;background:url(../images/textareaBg.png) no-repeat;border:1px #B9C8E7 solid;color:#333;padding:0 0 0 5px;}
.textarea{line-height:130%;font-size:12px;background:url(../images/textareaBg.png) no-repeat;border:1px #B9C8E7 solid;color:#333;padding:5px 0 5px 5px;}
.calendar{height:25px;line-height:25px;font-size:12px;background:url(../images/textareaBg-calendar.png) no-repeat;border:1px #B9C8E7 solid;color:#333;padding:0 0 0 25px;}
.formTextarea{background:url(../images/textareaBg.png) no-repeat;border:1px #B9C8E7 solid;font-size:12px;line-height:150%;color:#333;padding:5px;}
.input-query{height:22px;line-height:22px;BORDER-BOTTOM: #A7A6AA 1px solid; BORDER-LEFT: #A7A6AA 1px solid; PADDING-LEFT: 2px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/input-bg.png) white no-repeat 0px 0px; COLOR: #333; BORDER-TOP: #A7A6AA 1px solid; BORDER-RIGHT: #A7A6AA 1px solid;}
.btn-select{background: url(../images/bt_select.gif) no-repeat; border:0; width:55px; height:18px;cursor:pointer}
.btn-query{background: url(../images/search_icon.gif) no-repeat; border:0; width:21px; height:22px;cursor:pointer}
.btn-search{ background:url(../images/bt_search.gif) no-repeat; BORDER:0; width:55px; height:18px; cursor:pointer}
/* 工具栏样式 */
.tools{padding-top:5px;zoom:1;}
.tools-m{margin-top:-5px;}
.tools b{float:left;width:25px;height:25px}
.tools LI {DISPLAY: block; FLOAT: left; MARGIN: 0 10px 0 0; HEIGHT: 25px; CURSOR: pointer}
.tools LI.name{float:right; MARGIN: 0 5px 0 0;height:25px;line-height:25px;background:url(../images/toolsBgLs.gif);}
.tools LI.name a,.tools LI.name a:hover{background:none;} 
.tools LI.name span{display:inline-block;background:url(../images/toolsBgRs.gif) no-repeat right;color:#2d52a5;padding:0 10px;}
.tools LI A {COLOR: #fff; FONT-SIZE: 12px; TEXT-DECORATION: none; HEIGHT: 25px; CURSOR: pointer}
.tools LI A {DISPLAY: inline-block; BACKGROUND: url(../images/toolsBgL.gif) no-repeat left 50%; TEXT-DECORATION: none; letter-spacing:0;color:#2d52a5}
.tools LI A SPAN {DISPLAY: inline-block; BACKGROUND: url(../images/toolsBgR.gif) no-repeat right 50%; PADDING-BOTTOM: 0px; PADDING: 0 10px 0 5px; HEIGHT: 25px; LINE-HEIGHT: 25px; letter-spacing:0;}
.tools LI b{float:left;width:26px;height:25px}
.tools LI A:hover {BACKGROUND: url(../images/toolsBgLs.gif) no-repeat left 50%; TEXT-DECORATION: none; color:#BD0A01}
.tools LI A:hover SPAN {BACKGROUND: url(../images/toolsBgRs.gif) no-repeat right 50%}
.tools LI.current A {BACKGROUND: url(../images/toolsBgLs.gif) no-repeat left 50%; TEXT-DECORATION: none}
.tools LI.current A SPAN {BACKGROUND: url(../images/toolsBgRs.gif) no-repeat right 50%;}
.tools .add a b{background:url(../images/icon/toolsAdd.png) no-repeat 10px 5px;}
.tools .cancel a b{background:url(../images/icon/toolsCancel.png) no-repeat 10px 5px;}
.tools .config a b{background:url(../images/icon/toolsConfig.png) no-repeat 10px 5px;}
.tools .coupon a b{background:url(../images/icon/toolsCoupon.png) no-repeat 10px 5px;}
.tools .del a b{background:url(../images/icon/toolsDel.png) no-repeat 10px 5px;}
.tools .point a b{background:url(../images/icon/toolsPoint.png) no-repeat 10px 5px;}
.tools .print a b{background:url(../images/icon/toolsPrint.png) no-repeat 10px 5px;}
.tools .save a b{background:url(../images/icon/toolsSave.png) no-repeat 10px 5px;}
.tools .submit a b{background:url(../images/icon/toolsSubmit.png) no-repeat 10px 5px;}
.tools .edit a b{background:url(../images/icon/toolsEdit.png) no-repeat 10px 5px;}
.tools .cover a b{background:url(../images/icon/toolsCover.png) no-repeat 10px 5px;}
.tools .selectAll a b{background:url(../images/icon/toolsSelectAll.png) no-repeat 10px 5px;}
.tools .up a b{background:url(../images/icon/toolsUp.png) no-repeat 10px 5px;}
.tools .down a b{background:url(../images/icon/toolsDown.png) no-repeat 10px 5px;}
.tools .upload a b{background:url(../images/icon/toolsUpload.gif) no-repeat 10px 5px;}
.tools .bonus a b{background:url(../images/icon/toolsBonus.png) no-repeat 10px 5px;}
.tools .email a b{background:url(../images/icon/toolsEmail.png) no-repeat 10px 5px;}
.tools .moneycard a b{background:url(../images/icon/toolsCard.png) no-repeat 10px 5px;}
.tools .mobile a b{background:url(../images/icon/toolsMobile.png) no-repeat 10px 5px;}
.tools .download a b{background:url(../images/icon/toolsDownload.gif) no-repeat 10px 5px;}
.tools .reset a b{background:url(../images/icon/toolsRotate.png) no-repeat 10px 5px;}
.tools .rotate a b{background:url(../images/icon/toolsRotate.png) no-repeat 10px 5px;}
.tools .refresh a b{background:url(../images/icon/toolsRefresh.png) no-repeat 10px 5px;}
.tools .unite a b{background:url(../images/icon/toolsUnite.png) no-repeat 10px 5px;}
.tools .close a b{background:url(../images/icon/toolsDel.png) no-repeat 10px 5px;}
.tools .print a b{background:url(../images/icon/toolsPrint.png) no-repeat 10px 5px;}
.tools .ship a b{background:url(../images/icon/toolsShip.png) no-repeat 10px 5px;}
.tools .tip a b{background:url(../images/icon/toolsTips.png) no-repeat 10px 5px;}
.tools .skin a b{background:url(../images/icon/toolsUnite.png) no-repeat 10px 5px;}
.tools .plus {DISPLAY: block; FLOAT: left; MARGIN: 0 5px 0 0; HEIGHT: 20px; CURSOR: pointer}
.tools .plus A {COLOR: #fff; FONT-SIZE: 12px; TEXT-DECORATION: none; HEIGHT: 20px; CURSOR: pointer}
.tools .plus A {DISPLAY: inline-block; BACKGROUND: url(../images/toolsBgLs20.gif) no-repeat left 50%; TEXT-DECORATION: none; letter-spacing:0;color:#2d52a5}
.tools .plus A SPAN {DISPLAY: inline-block; *display:inline;  BACKGROUND: url(../images/toolsBgRs20.gif) no-repeat right 50%; PADDING-BOTTOM: 0px; PADDING: 0 10px 0 5px; HEIGHT: 20px; LINE-HEIGHT: 20px; letter-spacing:0;}
.tools .plus A b{float:left;width:22px;height:20px;background:url(../images/plus.gif) no-repeat 10px 4px}
.tools .plus A:hover {BACKGROUND: url(../images/toolsBgL20.gif) no-repeat left 50%; TEXT-DECORATION: none; color:#BD0A01}
.tools .plus A:hover SPAN {BACKGROUND: url(../images/toolsBgR20.gif) no-repeat right 50%}
.tools .minus {DISPLAY: block; FLOAT: left; MARGIN: 0 5px 0 0; HEIGHT: 20px; CURSOR: pointer}
.tools .minus A {COLOR: #fff; FONT-SIZE: 12px; TEXT-DECORATION: none; HEIGHT: 20px; CURSOR: pointer}
.tools .minus A {DISPLAY: inline-block; BACKGROUND: url(../images/toolsBgLs20.gif) no-repeat left 50%; TEXT-DECORATION: none; letter-spacing:0;color:#2d52a5}
.tools .minus A SPAN {DISPLAY: inline-block; *display:inline;  BACKGROUND: url(../images/toolsBgRs20.gif) no-repeat right 50%; PADDING-BOTTOM: 0px; PADDING: 0 10px 0 5px; HEIGHT: 20px; LINE-HEIGHT: 20px; letter-spacing:0;}
.tools .minus A b{float:left;width:22px;height:20px;background:url(../images/minus.gif) no-repeat 10px 4px}
.tools .minus A:hover {BACKGROUND: url(../images/toolsBgL20.gif) no-repeat left 50%; TEXT-DECORATION: none; color:#BD0A01}
.tools .minus A:hover SPAN {BACKGROUND: url(../images/toolsBgR20.gif) no-repeat right 50%}
.tools .tips{float:left;height:20px;line-height:20px;background:url(../images/toolsBgLs20.gif);margin-right:5px;}
.tools .tips span{display:inline-block;background:url(../images/toolsBgRs20.gif) no-repeat right;}
.tools .tips em{display:inline-block;height:20px;line-height:20px;background:url(../images/icon/toolsTips.png) no-repeat 10px 2px;padding:0 10px 0 32px;text-decoration:none}
.tools .mes{display:none; float:left;height:25px;line-height:25px;background:url(../images/toolsBgLs.gif);}
.tools .mes span{display:inline-block;height:25px;line-height:25px;background:url(../images/toolsBgRs.gif) no-repeat right;color:#2d52a5;padding:0 10px;}
.tools .mes span font{height:25px;line-height:25px;}
.tools .mes .suc{color:#2d52a5;}
.tools .mes .err{color:#ff0000;}
.tools .mes img{vertical-align:middle;padding-right:5px;padding-bottom:4px}
.tools .current{float:left;height:25px;background:url(../images/toolsBgLs.gif);margin-right:10px;}
.tools .current span{display:inline-block;background:url(../images/toolsBgRs.gif) no-repeat right;}
#process{margin:0 auto;padding:25px 0 40px 0;}
.section2{width:403px;}
.section3{width:533px;}
.section4{width:706px;}
.section5{width:880px;}
#process .node,#process .proce{float:left;position:relative;height:13px;background-image:url(../images/bg_state.jpg);background-repeat:no-repeat;}
#process .node{width:13px;}
#process .proce{width:150px;border:solid #fff;border-width:0 5px;}
#process .tx1{height:36px;margin-bottom:16px;}
#process .tx3{color:#999;line-height:15px;}
.node.wait{background-position:-150px -40px;}
.node.ready{background-position:-150px 0px;}
.node.singular{background-position:-150px -60px;}
.proce.wait{background-position:0 -40px;}
.proce.doing{background-position:0 -20px;color:#360;}
.proce.ready{background-position:0 0;}
#process .wait .tx2{color:#999;}
#process ul{position:absolute;margin-top:-38px;text-align:center;}
#process .proce ul{z-index:5;width:150px;}
#process .node ul{z-index:1;width:318px;margin-left:-152px;}
*html #process{overflow:hidden;}
*html #process .node{background-position-x:-150px;}
*html #process .proce{background-position-x:0;}
*html #process .wait{background-position-y:-40px;}
*html #process .doing{background-position-y:-20px;}
*html #process .ready{background-position-y:0;}
*html #process .singular{background-position-y:-60px;}
.input-calendar,.Calendar {WIDTH: 100px; BORDER-BOTTOM: #A7A6AA 1px solid; BORDER-LEFT: #A7A6AA 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 22px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/input-bg-calendar.png) white no-repeat 0px 0px; COLOR: #333; BORDER-TOP: #A7A6AA 1px solid; BORDER-RIGHT: #A7A6AA 1px solid; PADDING-TOP: 2px}
.form_query {BORDER-BOTTOM: #DDDDDD 1px solid; BORDER-LEFT: #DDDDDD 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/input-bg.png) white no-repeat 0px 0px; COLOR: #333; BORDER-TOP: #DDDDDD 1px solid; BORDER-RIGHT: #DDDDDD 1px solid; PADDING-TOP: 2px}
.button {COLOR: #756A4F; BORDER: 1px #CAC5BB solid; BACKGROUND: url(../images/btn_bg.gif); HEIGHT:22px; FONT-SIZE: 12px; CURSOR:pointer}
.btn_query {POSITION: absolute; VERTICAL-ALIGN: middle; CURSOR: pointer; BORDER:0; BACKGROUND-image: url(../images/search_icon.gif); WIDTH: 21px; HEIGHT: 22px}
.btn_upload {COLOR: #756A4F; BORDER: 1px #CAC5BB solid; BACKGROUND: url(../images/btn_bg.gif); HEIGHT:22px; FONT-SIZE: 12px; CURSOR:pointer}
.datatitle td{height:32px;line-height:32px;padding:0 10px;color:#000;font-weight:bold; border-bottom:1px solid #E9E9E9;}
.datalist{background:url(../images/datalist-title.gif) repeat-x;overflow:hidden}
.datalist .head td{height:32px;line-height:32px;padding:0 10px;color:#000;font-weight:bold}
.datalist .title th{height:32px;line-height:130%;background:url(../images/datalist-title-r.gif) no-repeat left;color:#2D52A5;padding:0 10px;font-size:12px;text-align:left;font-weight:normal}
.datalist .title th.selectAll{background:none;}
.datalist .title th .desc{display:inline;margin-left:10px;width:16px;height:16px;background:url(../images/icon_down.gif) no-repeat}
.datalist .title th .asc{display:inline;margin-left:10px;width:16px;height:16px;background:url(../images/icon_up.gif) no-repeat}
.datalist .list td{padding:5px 10px;color:#808080;border-bottom:1px #ECECEC solid;line-height:150%;text-align:left}
.datalist .list td span a{color:#808080;}
.datalist .list td .input{height:20px;line-height:20px;font-size:12px;background:url(../images/textareaBg.png) no-repeat;border:1px #B9C8E7 solid;color:#333;padding:0 0 0 5px;}
.classtable {BACKGROUND: #FFF; BORDER-LEFT: 1px solid #89ADCE; BORDER-RIGHT: 1px solid #89ADCE; WORD-BREAK: break-all}
.classtable2 {BACKGROUND: #FFF; BORDER-LEFT: 1px solid #89ADCE; BORDER-RIGHT: 1px solid #89ADCE; WORD-BREAK:break-all}
.tablelist {MARGIN: 5px 0; BACKGROUND: #FFF; BORDER:1px solid #E5E5E5; WORD-BREAK:break-all}
.tablelist .listhead {COLOR: #333333; BACKGROUND: #FAFAFA; PADDING:0 5px}
.tablelist TR {}
.tablelist TD {FONT-SIZE: 12px; BORDER-BOTTOM: #e5e5e5 1px solid; PADDING: 2px 5px;text-align:left}
.managepic {MARGIN: 5px 0; BACKGROUND: #FFF; BORDER:1px solid #E5E5E5; WORD-BREAK:break-all}
.managepic .listhead {COLOR: #333333; BACKGROUND: #FAFAFA; PADDING:0 5px}
.managepic TR {}
.managepic TD {BACKGROUND: #FFF; FONT-SIZE: 12px; PADDING: 5px}
.managepic #listpic {width:446px; list-style-type:none; margin:-10px 0 0 0}
.managepic #listpic li{POSITION: relative; float:left; margin-top:10px; margin-right:9px; width:80px; height:80px; }
.managepic .placeHolder div {width:80px; height:80px; background-color:white !important; border:dashed 1px gray !important; }
.managepic #listpic li .pic {FLOAT:left; WIDTH: 80px; HEIGHT: 80px}
.managepic #listpic li .checkbox {POSITION: absolute; left:0px; FLOAT:left; WIDTH: 15px; PADDING-TOP:60px}
.managepic #listpic li .pic IMG {WIDTH: expression(this.width > 80 ? 80 : true); HEIGHT: expression(this.height > 80 ? 80 : true); MAX-WIDTH: 80px; MAX-HEIGHT: 80px; VERTICAL-ALIGN: middle; TEXT-ALIGN: center}
#tablistmain,#tablist,#tablist2,.tablist {PADDING: 0; MARGIN: 5px 0px 0px 0px; LIST-STYLE-TYPE: none; overflow: hidden;padding: 0;position: relative;height:27px;width: 100%;BACKGROUND: url(../images/tabbg.jpg) repeat-x bottom}
#tablistmain li,#tablist li,#tablist2 li,.tablist li{DISPLAY: block; FLOAT: left;margin: 0 0 0 10px;}
#tablistmain li A,#tablist li A,#tablist2 li A,.tablist li A{LINE-HEIGHT: 27px; DISPLAY: block; HEIGHT: 27px; FONT-SIZE: 12px; COLOR: #106699; CURSOR: pointer; _float: left}
#tablistmain li A,#tablist li A,#tablist2 li A,.tablist li A{BACKGROUND: url(../images/tabbgL.jpg) no-repeat left 0; TEXT-DECORATION: none;max-width:200px;}
#tablistmain li A:hover,#tablist li A:hover,#tablist2 li A:hover,.tablist li A:hover{TEXT-DECORATION: none}
#tablistmain li A span,#tablist li A span,#tablist2.tablist li A span,.tablist li A span{BACKGROUND: url(../images/tabbgR.jpg) no-repeat right 0; PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; PADDING-TOP: 0px; COLOR:#333}
#tablistmain li.selected,#tablist li.selected,#tablist2 li.selected,.tablist li.selected{HEIGHT: 27px; _float: left}
#tablistmain li.selected A,#tablist li.selected A,#tablist2 li.selected A,.tablist li.selected A{BACKGROUND: url(../images/tabbgL.jpg) no-repeat left bottom; TEXT-DECORATION: none; COLOR: #106699; FONT-WEIGHT: bold; FONT-SIZE: 12px}
#tablistmain li.selected A span,#tablist li.selected A span,#tablist2 li.selected A span,.tablist li.selected A span{BACKGROUND: url(../images/tabbgR.jpg) no-repeat right bottom; COLOR:#106699; font-weight:normal;}
#tablistmain li A:hover,#tablist li A:hover,#tablist2 li A:hover,.tablist li A:hover{BACKGROUND: url(../images/tabbgL.jpg) no-repeat left -27px; TEXT-DECORATION: none; COLOR: #106699; FONT-SIZE: 12px}
#tablistmain li A:hover span,#tablist li A:hover span,#tablist2 li A:hover span,.tablist li A:hover span{BACKGROUND: url(../images/tabbgR.jpg) no-repeat right -27px; COLOR: #106699}
.tablist LI em{float:left;height:27px;LINE-HEIGHT: 27px}
.tablist LI strong{font-weight:normal;font-size:12px}
.tablist LI img{margin-top:7px;margin-right:5px;vertical-align:middle}
#tabcontentcontainer .classtop {BACKGROUND: #FFF; PADDING: 5px; COLOR: #333}
#tabcontentcontainer .classfaq {PADDING: 10px 0; BACKGROUND: #FFF; COLOR:#646245}
#tabcontentcontainer {WIDTH: 100%; MARGIN: 0 auto; PADDING: 0; BACKGROUND: #FFF; BORDER-TOP: 1px solid #89ADCE}
.tabcontent {MARGIN: 0 auto; PADDING:0; DISPLAY:none; BACKGROUND: #FFF}
.classfaq {PADDING: 10px 0; BACKGROUND: #FFF; COLOR:#646245}
.faq_main{BORDER: 1px dotted #BBB; MARGIN: 0 10px; PADDING: 5px; LINE-HEIGHT:180%; BACKGROUND: #FFF; COLOR:#666;}
.faq_main .faq_title{MARGIN: 0; FONT-WEIGHT: bold; FONT-SIZE: 12px}
.licensealt{BORDER: 1px dotted #BBB; MARGIN: 0 10px; PADDING: 5px; LINE-HEIGHT:180%; BACKGROUND: #FFF; COLOR:#666;margin:10px;BACKGROUND: #f4f4f4;}
.licensealt .title{MARGIN: 0; FONT-WEIGHT: bold; FONT-SIZE: 12px;color:Red;}
.box {FONT-SIZE: 12px; COLOR: #646245; BORDER: 1px solid #9A9A79; LINE-HEIGHT: 18px; WIDTH: 146px; HEIGHT: 16px; BACKGROUND: #FFF}
.pagination {FLOAT: right}
.pagenum {FLOAT: left}
.pagination .page-skip {COLOR: #999; FLOAT: left; MARGIN-LEFT: 10px; HEIGHT: 23px; LINE-HEIGHT: 23px; OVERFLOW: hidden; PADDING: 0 5px; TEXT-ALIGN: center; WHITE-SPACE: nowrap; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; FONT-FAMILY: Arial,SimSun}
.pagination span,.pagenum span {DISPLAY: block; FLOAT: left; PADDING: 0 5px; HEIGHT: 21px}
.pagination span.page-cur,.pagenum span.page-cur {LINE-HEIGHT: 21px; HEIGHT: 21px; BORDER: #ff5400 1px solid; BACKGROUND: white; TEXT-ALIGN: center; MARGIN-RIGHT: 3px; COLOR: #ff5400; FONT-WEIGHT: bold}
.pagination a,.pagenum a {DISPLAY: block; FLOAT: left; HEIGHT: 21px; PADDING: 0 5px; LINE-HEIGHT: 21px; BORDER: #c6c6c6 1px solid; BACKGROUND: white; TEXT-ALIGN: center; MARGIN-RIGHT: 3px; COLOR: #333}
.pagination a:hover,.pagenum a:hover {BORDER: #ff5400 1px solid; BACKGROUND: white; TEXT-ALIGN: center; COLOR: #ff5400; TEXT-DECORATION: none}
.pagination a.page-prev,.pagenum a.page-prev {DISPLAY: block; FLOAT: left; PADDING: 0 5px; HEIGHT: 21px; BACKGROUND: url(../images/page.gif) white no-repeat 4px 0; PADDING-LEFT: 12px}
.pagination a.page-next {FLOAT: left; HEIGHT: 21px; FONT-WEIGHT: normal; BACKGROUND: url(../images/page.gif) white no-repeat right -26px; PADDING-RIGHT: 12px}
.pagination .text {BACKGROUND: url(input-bg.png) white no-repeat 0px 0px; BORDER: #DDDDDD 1px solid; COLOR: #333; WIDTH: 25px; PADDING: 2px; MARGIN: 0px 3px; _DISPLAY: in-line}
.pagination .button {WIDTH: 52px; HEIGHT: 22px; LINE-HEIGHT: 22px; BACKGROUND: url(../images/page.gif) no-repeat right -50px; BORDER: none}
#searchall {width:116px;border:1px solid #7E9DB9;margin-left:0px;padding-left:20px;background:url(../images/icon_search.gif) no-repeat left;background-color:#FFFFFF;color:#ACACAC;}
#way {position:absolute;float:left;padding-left:6px;z-index:9999}
#wayicon {width:40px;height:18px;cursor:pointer;display:block;background:url(../images/arr.gif) no-repeat left 5px;}
#searchmenu {float:left;width:52px;margin:21px 0 0 15px;display:none;padding:2px;position:absolute;background-color:#FFFFFF;border:1px solid #CCCCCC;border-top:1px solid #fff;z-index:9999}
.smenu li {float:left;width:60px;margin:0;padding:0;font-size:12px}
.smenu a {padding:0 2px; TEXT-DECORATION: none; color:#ACACAC}
.smenu a:hover {color:#000}
.navPoint {CURSOR: pointer}
.top_table {WIDTH: 100%; HEIGHT: 41px}
.top_table_leftbg {WIDTH: auto; BACKGROUND-REPEAT: repeat-y; HEIGHT: 41px}
.system_logo {PADDING: 5px; TEXT-ALIGN: left}
.navmenu {PADDING-LEFT: 5px; PADDING-TOP: 0; HEIGHT: 28px; TEXT-ALIGN: left; BACKGROUND: url(../images/vertical/menubg.gif) repeat-x bottom; OVERFLOW: hidden}
.navmenu .menu {float:left;PADDING: 0px}
.navmenu .menu LI {DISPLAY: block; FLOAT: left; MARGIN: 0 5px 0 0; HEIGHT: 28px; CURSOR: pointer}
.navmenu .menu LI A {COLOR: #fff; FONT-SIZE: 12px; TEXT-DECORATION: none; HEIGHT: 28px; CURSOR: pointer}
.navmenu .menu LI A {DISPLAY: inline-block; BACKGROUND: url(../images/vertical/menu01.gif) no-repeat left 50%; TEXT-DECORATION: none; letter-spacing:0;}
.navmenu .menu LI A SPAN {DISPLAY: inline-block; *display:inline;  BACKGROUND: url(../images/vertical/menu01_right.gif) no-repeat right 50%; PADDING-BOTTOM: 0px; PADDING: 6px 10px 0 12px; HEIGHT: 22px; *HEIGHT: 28px; letter-spacing:0;}
.navmenu .menu LI b{float:left;width:22px;height:22px}
.navmenu .menu LI A:hover {BACKGROUND: url(../images/vertical/menu02.gif) no-repeat left 50%; TEXT-DECORATION: none}
.navmenu .menu LI A:hover SPAN {BACKGROUND: url(../images/vertical/menu02_right.gif) no-repeat right 50%; COLOR: #106699}
.navmenu .menu LI.current A {BACKGROUND: url(../images/vertical/menu02.gif) no-repeat left 50%; TEXT-DECORATION: none}
.navmenu .menu LI.current A SPAN {BACKGROUND: url(../images/vertical/menu02_right.gif) no-repeat right 50%; COLOR: #106699}
.navmenu .menu #menu_Product b{background:url(../images/icon/product.png) no-repeat 0 1px}
.navmenu .menu #menu_Order b{background:url(../images/icon/order.png) no-repeat 0 1px}
.navmenu .menu #menu_User b{background:url(../images/icon/user.png) no-repeat 0 1px}
.navmenu .menu #menu_Promotion b{background:url(../images/icon/promotion.png) no-repeat 0 1px}
.navmenu .menu #menu_Statis b{background:url(../images/icon/statis.png) no-repeat 0 1px}
.navmenu .menu #menu_Theme b{background:url(../images/icon/theme.png) no-repeat 0 1px}
.navmenu .menu #menu_Config b{background:url(../images/icon/config.png) no-repeat 0 1px}
.navmenu .menu UL LI A:hover {COLOR: #ff7; TEXT-DECORATION: none}
.navmenu .menu UL LI A {COLOR: #fff; TEXT-DECORATION: none}
.navmenu .tool{float:left;MARGIN-LEFT:5px;PADDING: 0px}
.navmenu .tool LI{float:left;height:22px;line-height:22px;background:url(../images/vertical/toolL.png);margin-right:10px;margin-top:2px;}
.navmenu .tool LI span{display:inline-block;background:url(../images/vertical/toolR.png) no-repeat right;padding:0 15px; color:#4884B9}
.navmenu .tool LI a{color:#4884B9; TEXT-DECORATION: none}
.navmenu .debug{float:right;margin:0;PADDING: 0px}
.navmenu .debug LI{float:left;height:22px;line-height:22px;margin-right:5px;margin-top:2px;}
.navmenu .debug LI A {COLOR: #fff; FONT-SIZE: 12px; TEXT-DECORATION: none; HEIGHT: 22px; CURSOR: pointer}
.navmenu .debug LI A {DISPLAY: inline-block; BACKGROUND: url(../images/vertical/toolLs.png) no-repeat left 50%; TEXT-DECORATION: none; letter-spacing:0;color:#fff}
.navmenu .debug LI A SPAN {DISPLAY: inline-block; *display:inline;  BACKGROUND: url(../images/vertical/toolRs.png) no-repeat right 50%; PADDING-BOTTOM: 0px; PADDING: 0 10px 0 5px; HEIGHT: 22px; LINE-HEIGHT: 22px; letter-spacing:0;}
.navmenu .debug LI b{float:left;margin-left:10px;width:16px;height:22px;background:url(../images/icon/bug.png) no-repeat 0 3px}
.navmenu .debug LI A:hover {BACKGROUND: url(../images/vertical/toolL.png) no-repeat left 50%; TEXT-DECORATION: none; color:#2d52a5}
.navmenu .debug LI A:hover SPAN {BACKGROUND: url(../images/vertical/toolR.png) no-repeat right 50%}
.navmenu .faq{float:right;margin:0;PADDING: 0px}
.navmenu .faq LI{float:left;height:22px;line-height:22px;margin-right:5px;margin-top:2px;}
.navmenu .faq LI A {COLOR: #fff; FONT-SIZE: 12px; TEXT-DECORATION: none; HEIGHT: 22px; CURSOR: pointer}
.navmenu .faq LI A {DISPLAY: inline-block; BACKGROUND: url(../images/vertical/toolLs.png) no-repeat left 50%; TEXT-DECORATION: none; letter-spacing:0;color:#fff}
.navmenu .faq LI A SPAN {DISPLAY: inline-block; *display:inline;  BACKGROUND: url(../images/vertical/toolRs.png) no-repeat right 50%; PADDING-BOTTOM: 0px; PADDING: 0 10px 0 5px; HEIGHT: 22px; LINE-HEIGHT: 22px; letter-spacing:0;}
.navmenu .faq LI b{float:left;margin-left:10px;width:16px;height:22px;background:url(../images/icon/light.png) no-repeat 0 3px}
.navmenu .faq LI A:hover {BACKGROUND: url(../images/vertical/toolL.png) no-repeat left 50%; TEXT-DECORATION: none; color:#2d52a5}
.navmenu .faq LI A:hover SPAN {BACKGROUND: url(../images/vertical/toolR.png) no-repeat right 50%}
.main_top {TABLE-LAYOUT: auto; BACKGROUND: url(../images/vertical/left_bg.gif)}
.menuhr {BORDER-TOP: #b5cfde 1px solid; FONT-SIZE: 0px; FLOAT: left; MARGIN: 4px 0px 0px; WIDTH: 98%; LINE-HEIGHT: 0px; HEIGHT: 4px}
#sidebar{float:left;width:158px;height:100%;margin:5px 5px 0 5px;padding:0;overflow-y:auto; overflow-x:hidden;}
.menubar{width:156px;margin:0;padding:0;border:1px solid #C4D8ED;background:#fff;}
.menubar h2{width:156px;BORDER-TOP: 1px solid #C4D8ED;BORDER-BOTTOM: 1px solid #C4D8ED; HEIGHT:25px; LINE-HEIGHT:25px; BACKGROUND: url(../images/vertical/menu_left_topbg.gif) repeat-x;margin:0;text-align:left;cursor:pointer;overflow:hidden}
.menubar h2:first-child{border-top:0px}
.menubar h2 span{LINE-HEIGHT:25px; PADDING-LEFT: 15px; FONT-WEIGHT: normal; padding-left: 10px; FONT-SIZE: 12px; COLOR: #106699; TEXT-ALIGN: left}
.menubar h2 span img{margin-top:-2px; vertical-align:middle}
*html .menubar h2 span img{margin:7px 0;}
.menubar ul{width:156px;margin:0;padding:5px 0}
.menubar li {float:left; width: 156px; margin:0; height:24px; line-height:24px;text-align:left;BORDER-BOTTOM: 0px solid #EBF6FF}
.menubar li span{padding-left: 28px; background: url(../images/arrow.gif) no-repeat 12px 1px}
.menubar a {display:block; height:25px; font-size: 12px; color: #000; text-align: left; text-decoration: none}
.menubar a:hover {display:block; width:156px;height:24px;line-height:24px;background:url(../images/vertical/sidebar-cur.jpg) no-repeat 5px 1px; text-decoration: none}
.menubar li.current{width:156px;height:24px;line-height:24px;background:url(../images/vertical/sidebar-cur.jpg) no-repeat 5px 1px;}
.menubar li.current a{color:#4884B9; TEXT-DECORATION: none}
.menubar li.first-child {width:158px; height:24px; border-top: 0px solid #C4D8ED; border-bottom: 1px solid #E0F2FF; background: #E0F2FF}
#body_content{position:relative;width:100%;height:100%;background: #E0F2FF}
#body_foot{width:100%;height:30px;line-height:30px;position:fixed;left:0px;bottom:0;}
#body_main{width:100%;height:100%}
.left_iframe {BACKGROUND: none transparent scroll repeat 0% 0%; VISIBILITY: inherit; WIDTH: 157px; HEIGHT: 90%; *HEIGHT: 100%}
.main_iframe {Z-INDEX: 1; VISIBILITY: inherit; WIDTH: 100%; HEIGHT: 100%}
#sideplus a{position:absolute;left:153px;width:8px;padding-top:5px}
#sideplus a.cur{left:5px}
#sidecontent {float:left;margin-top:5px;height:100%;background:#FFF;border:1px solid #C4D8ED;overflow-x:hidden}
.sidecontent_box{}
#main_index{padding:0 10px 0 10px;}
.mainbody .float_today{float:left;margin:5px 10px 0 0;padding:0;width:200px;border:1px solid #C4D8ED}
.mainbody .float_today .table{margin:0}
.mainbody .float_today .table th{width:80%;text-align:left;color:#333}
.mainbody .float_today .table td{width:20%;text-align:right}
.mainbody .float_chart{float:left;margin:5px 0 0 -5px;padding:0;width:900px}
.mainbody .float_yestoday{float:left;margin:5px 10px 0 0;padding:0;width:200px;border:1px solid #C4D8ED}
.mainbody .float_yestoday .table{margin:0}
.mainbody .float_yestoday .table th{width:80%;text-align:left;color:#333}
.mainbody .float_yestoday .table td{width:20%;text-align:right}
.mainbody .float_user{float:left;margin:0;padding:0;width:230px;border:1px solid #C4D8ED}
.mainbody .float_user .table{margin:0}
.mainbody .float_user .table th{width:40%}
.mainbody .float_new{float:left;margin:5px 10px 0 0;padding:0;width:200px;border:1px solid #C4D8ED}
.mainbody .float_new .table{margin:0}
.mainbody .float_new .table th{width:80%;text-align:left;color:#333}
.mainbody .float_new .table td{width:20%;text-align:right}
.mainbody .float_total{float:left;margin:5px 10px 0 0;padding:0;width:200px;border:1px solid #C4D8ED}
.mainbody .float_total .table{margin:0}
.mainbody .float_total .table th{width:80%;text-align:left;color:#333}
.mainbody .float_total .table td{width:20%;text-align:right}
.mainbody .float_notice{float:left;margin:5px 10px 0 0;padding:0;width:464px;border:1px solid #C4D8ED}
.mainbody .float_notice iframe{height:217px;}
.mainbody .float_notice .table{margin:0}
.mainbody .float_notice .table th{width:50%;text-align:left;color:#333}
.mainbody .float_notice .table td{width:50%;text-align:right}
.mainbody .float_system{float:left;margin:5px 10px 0 0;padding:0;width:200px;border:1px solid #C4D8ED}
.mainbody .float_system .table{margin:0}
.mainbody .float_system .table th{width:50%;text-align:left;color:#333}
.mainbody .float_system .table td{width:50%;text-align:right}
.mainbody .float_statis{float:left;margin:5px 10px 0 10px;padding:0;width:200px;border:1px solid #C4D8ED}
.mainbody .float_statis .table{margin:0}
.mainbody .float_statis .table th{width:80%;text-align:left;color:#333}
.mainbody .float_statis .table td{width:20%;text-align:right}
.mainbody{MARGIN: 0; WIDTH: 100%; CLEAR: both; overflow: auto;padding: 0;text-align:left}
.mainbody .table{margin-bottom:10px;}
.mainbody .head {padding: 0px;width:100%;}
.mainbody .head a {LINE-HEIGHT: 30px;HEIGHT: 30px; FONT-SIZE: 12px; background-color: #ffffff;BORDER:1px solid #89ADCE;padding:4px 10px;}
.mainbody .head a:hover{LINE-HEIGHT: 30px;HEIGHT: 30px; FONT-SIZE: 12px; background-color: #fffacd;BORDER:1px solid #89ADCE;padding:4px 10px;}
.mainbody .head tr {LINE-HEIGHT: 30px; FONT-SIZE: 12px;}
.mainbody .head tr td {	LINE-HEIGHT: 30px; FONT-SIZE: 12px; }
.mainbody_path{LINE-HEIGHT: 35px;HEIGHT: 35px;padding-left: 10px; BORDER-BOTTOM: 1px solid #C4D8ED; BACKGROUND: url(../images/vertical/menu_left_topbg.gif) repeat-x}
.mainbody_path a:hover{COLOR: #070268}
.searchbox{padding-left: 10px; padding-top: 5px; padding-bottom: 5px; border-bottom:1px solid #E9E9E9; text-align:left}
.searchbox:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.searchbox .searchbox-l{float:left;width:50%;margin:0;padding:0; text-align:left}
.searchbox .searchbox-r{float:right;width:40%;margin:0;padding:0;text-align:right; padding-right: 10px; padding-top: 5px}
.searchbox .searchname{color:#666666}
.searchbox .searchvalue{color:#000000;}
.mainbody_top{padding: 0px}
.bottom{width:100%;position:absolute;bottom:-5px;_bottom:1px;*bottom:1px;line-height: 30px;height: 30px;margin:0;padding: 0; BORDER-TOP: 1px solid #E9E9E9; background:url(../images/vertical/menu_left_topbg.gif) repeat-x; text-align:left}
.table {background: #FFF; WORD-BREAK: break-all;width:100%;margin:0 auto 10px auto;}
.table tr {LINE-HEIGHT: 30px; HEIGHT: 30px; FONT-SIZE: 12px; BORDER-BOTTOM: #ECECEC 1px solid; PADDING: 2px;}
.table tr th {width:12%;LINE-HEIGHT: 30px; FONT-SIZE: 12px; BORDER-BOTTOM: 1px solid #ECECEC;text-align:right;font-weight:normal;padding:5px 5px 5px 0;color:#2D52A5;white-space:nowrap}
.table tr td {LINE-HEIGHT: 30px; FONT-SIZE: 12px; BORDER-BOTTOM: #ECECEC 1px solid; padding:5px;text-align:left}
.table tr.list {LINE-HEIGHT: 30px; HEIGHT: 30px; FONT-SIZE: 12px; BORDER-BOTTOM: #ECECEC 1px solid; PADDING: 0px;}
.table tr.list th {width:12%;LINE-HEIGHT: 30px; FONT-SIZE: 12px; BORDER-BOTTOM: 1px solid #ECECEC;text-align:right;font-weight:normal;padding:0 5px;color:#2D52A5}
.table tr.list td {LINE-HEIGHT: 30px; FONT-SIZE: 12px; BORDER-BOTTOM: #ECECEC 1px solid; padding:0 5px}
.table .head{HEIGHT: 30px; LINE-HEIGHT:30px; COLOR:#000; FONT-WEIGHT:normal; PADDING:0 5px 0 10px; border-bottom:1px solid #CEE1F7; text-align:left}
.table .title {HEIGHT: 30px; LINE-HEIGHT:30px; COLOR:#000; FONT-WEIGHT:normal; PADDING:0 5px 0 5px; border-bottom:0px solid #C6DBF9;font-weight: bold;text-align:left}
.table .action {LINE-HEIGHT: 30px; height: 30px; FONT-SIZE: 12px; text-align:left;}
.center {text-align:center;}
.FormOK, .FormNO,.FormALT {font-size: 12px;height:16px;line-height:16px; margin-left:5px; font-style:normal; }
.FormOK {background: url(../images/succes.gif) no-repeat;color: #909090;    padding-left: 20px;}
.FormNO {background: url(../images/error.gif) no-repeat;color: #909090;    padding-left: 20px;}
.FormALT { background:none;   color: #909090;    font-style:normal;}
/*分页*/
.pg {padding-top:4px;text-align:left;}
.pg label{display:inline-block}
.pg a,.pgCurr,.pg span{display:inline-block; margin-left:5px; padding:0 6px; border:1px solid #A7BEE3; height:20px; line-height:20px;}
.pg a {color:#666;}
.pg a:hover {background-color:#ECF7FF; border-color:#C4D8ED; text-decoration:none;}
.pg .pgDisabled {border-color:#ddd; color:#ddd;}
.pg .pgCurr {background-color:#ECF7FF; color:#135294;}
.pg .pgEllipsis {border-color:#fff;}
.pgText {margin-left:15px;}
.pgField {width:20px; margin:0 3px; font-weight:bold;}
.pgGo {height:22px; margin-left:5px; padding:1px 8px 0 8px; border:1px solid #666; background-color:#777; color:#fff; font-weight:bold; cursor:pointer;}
button.pgGo[type] {padding-top:0;}
.pgSize{width:23px; height:20px; BACKGROUND: url(../images/arr_page.gif) no-repeat right 5px; PADDING-RIGHT: 12px; PADDING-LEFT: 5px}
.pgSize ul {WIDTH: 20px; height:20px; line-height:14px; MARGIN: 0; PADDING: 0; LIST-STYLE-TYPE: none}
.pgSize ul li {WIDTH: 20px; MARGIN: 0; PADDING:0; HEIGHT: 20px; LINE-HEIGHT: 20px; text-align:left; position: relative}
.pgSize ul li a.noclick {}
.pgSize ul li a{display:block;margin:0;padding:0;border:0;color:#000;cursor:pointer}
.pgSize dl {width:40px; border: 1px solid #E6E4E3; position: absolute; bottom: 15px; right: -20px; z-index: 99; display: none; background:#fff}
.pgSize dl a:hover { color: #f18336 !important; }
.pgSize dl dd {width:36px; height:22px; line-height:22px; margin:0 2px 0 2px; padding:0; border-bottom: 1px solid #E6E4E3}
.pgSize dl dd a {display:block; height:22px; line-height:22px; text-align: center; padding: 0; border-right: none; color: #666; font-weight: normal}
.pgSize dl dd a:hover{background:#f2f2f2}
.pgSize dl dd.last { background-image: none;border:none}
.pgSize dl dd.last a { border-bottom: none; }
.tabmenus{HEIGHT: 30px; OVERFLOW: hidden}
.tabmenus:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.tabmenus LI{DISPLAY: block; FLOAT: left; PADDING-RIGHT:10px}
.tabmenus LI A{LINE-HEIGHT: 30px; DISPLAY: block; HEIGHT: 30px; FONT-SIZE: 12px; COLOR: #106699; CURSOR: pointer; _float: left}
.tabmenus LI A{BACKGROUND: url(../images/TOP01.gif) no-repeat left 50%; TEXT-DECORATION: none}
.tabmenus LI A:hover{TEXT-DECORATION: none}
.tabmenus LI A SPAN{BACKGROUND: url(../images/TOP02.gif) no-repeat right 50%; PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; PADDING-TOP: 0px}
.tabmenus LI.current{HEIGHT: 32px; _float: left}
.tabmenus LI.current A{BACKGROUND: url(../images/TOP06.gif) no-repeat left 50%; TEXT-DECORATION: none; COLOR: #106699; FONT-WEIGHT: normal; FONT-SIZE: 12px}
.tabmenus LI.current A SPAN{BACKGROUND: url(../images/TOP07.gif) no-repeat right 50%}
.tabmenus LI A:hover{BACKGROUND: url(../images/TOP06.gif) no-repeat left 50%; TEXT-DECORATION: none; COLOR: #106699; FONT-SIZE: 12px}
.tabmenus LI A:hover SPAN{BACKGROUND: url(../images/TOP07.gif) no-repeat right 50%; COLOR: #106699}
.tabmenus LI.current A{BACKGROUND: url(../images/TOP06.gif) no-repeat left 50%; TEXT-DECORATION: none}
.tabmenus LI.current A SPAN{BACKGROUND: url(../images/TOP07.gif) no-repeat right 50%; COLOR: #106699}
.proBox{border: 1px solid #A6BDE3;}
.mainbody .proBox{margin:10px}
.proBox .datalist{border-top: 1px solid #E9E9E9;}
.proBox .btns{background: #D7E5F0;border-bottom: 1px solid #A6BDE3;padding: 0 7px 0 10px;}
.proBox .btns li{cursor: pointer;float: left;padding: 5px 8px 5px 22px;}
.proBox .btns li.add{background:url(../images/icon/toolsAdd.png) no-repeat 3px center;}
.proBox .btns li.delete{background:url(../images/icon/toolsDel.png) no-repeat 3px center;}
.proBox .btns li.clean{background:url(../images/icon/toolsDel.png) no-repeat 3px center;}
.proBox .btns li.up{background:url(../images/icon/toolsUp.png) no-repeat 3px center;}
.proBox .btns li.down{background:url(../images/icon/toolsDown.png) no-repeat 3px center;}
.proBox .btns li.submit{background:url(../images/icon/toolsSubmit.png) no-repeat 3px center;}
.proBox .btns li.select{background:url(../images/icon/toolsSelectAll.png) no-repeat 3px center;}
.proBox .btns li.edit{background:url(../images/icon/toolsEdit.png) no-repeat 3px center;}
.proBox .btns li:hover{background-color: #E1EEF9;}
.proBox .btns li.menu{padding:5px 10px 5px 0}
.iTab{margin:0; padding:0; -moz-user-select: none;/*火狐*/-webkit-user-select: none;/*webkit浏览器*/-ms-user-select: none;/*IE10*/-khtml-user-select: none;/*早期浏览器*/user-select: none;width:400px}
.iTab li.on{background: #DFE9F2;color: #000;}
.iTab li{float:left;height: 25px;line-height: 25px;width: 50%;padding:0;margin:0;}
.iTab li.iName{white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.iTab li.iName span{padding-left:10px}
.iTab li input{margin: 0;}
.iTabBox{height: auto;overflow-y: auto;overflow-x: hidden;}
.iTabHead{border-bottom: 0px solid #E9E9E9;}
.imagelists{margin:10px 0}
.imagelist{POSITION: relative;padding:0 0 10px 10px;float:left;}
.imagelist .image{width:100px;height:100px;overflow:hidden;}
.imagelist .image img{width:100px;}
.imagelist .btn{POSITION: absolute; left:10px; bottom:10px;text-align:center;padding:5px 0 0 0;}
ul li.imagespreviewlist{POSITION: relative; float:left; margin-top:10px; margin-right:10px; padding:0; width:50px; height:50px; overflow:hidden}
ul li.imagespreviewlist .image{FLOAT:left;POSITION: absolute;WIDTH: 50px; HEIGHT: 50px;z-index:10}
ul li.imagespreviewlist .image-manage{FLOAT:left; height:18px;line-height:18px;text-align:center;POSITION: absolute; margin:0; padding:0; right:0px; bottom:0px; FLOAT:left; WIDTH: 50px;background:#000;opacity: .60;-moz-opacity:0.60; filter:alpha(opacity=60);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";z-index:20}
ul li.imagespreviewlist .image-manage a{font-size:12px;color:#fff;TEXT-DECORATION: none}
ul li.imagespreviewlist .image IMG{WIDTH: expression(this.width > 50 ? 50 : true); HEIGHT: expression(this.height > 50 ? 50 : true); MAX-WIDTH: 50px; MAX-HEIGHT: 50px; VERTICAL-ALIGN: middle; TEXT-ALIGN: center}
ul li.placeHolder{POSITION: relative; float:left; margin-bottom:10px; margin-right:10px; padding:0; width:50px; height:50px; overflow:hidden}
.placeHolder div{width:48px; height:48px; background:white; border:dashed 1px #ccc}
.licensecheck{float:left;height:25px;line-height:25px;background:url(../images/vertical/LCBgL.png) no-repeat;margin-top:10px;padding:0;}
.licensecheck span{display:inline-block;background:url(../images/vertical/LCBgR.png) no-repeat right;padding:0 10px 0 25px; color:#FFF}
.licensecheck a{color:#FFF; TEXT-DECORATION: none}
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../js/lightbox/images/overlay.png) repeat 0 0;}
#colorbox{}
#cboxTopLeft{width:21px; height:21px; background:url(../js/lightbox/images/controls.png) no-repeat -100px 0;}
#cboxTopRight{width:21px; height:21px; background:url(../js/lightbox/images/controls.png) no-repeat -129px 0;}
#cboxBottomLeft{width:21px; height:21px; background:url(../js/lightbox/images/controls.png) no-repeat -100px -29px;}
#cboxBottomRight{width:21px; height:21px; background:url(../js/lightbox/images/controls.png) no-repeat -129px -29px;}
#cboxMiddleLeft{width:21px; background:url(../js/lightbox/images/controls.png) left top repeat-y;}
#cboxMiddleRight{width:21px; background:url(../js/lightbox/images/controls.png) right top repeat-y;}
#cboxTopCenter{height:21px; background:url(../js/lightbox/images/border.png) 0 0 repeat-x;}
#cboxBottomCenter{height:21px; background:url(../js/lightbox/images/border.png) 0 -29px repeat-x;}
#cboxContent{background:#fff; overflow:hidden;font-size: 12px;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:28px;}
#cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#949494;}
#cboxCurrent{position:absolute; bottom:0px; left:58px; color:#949494;}
#cboxSlideshow{position:absolute; bottom:0px; right:30px; color:#0092ef;}
#cboxPrevious{position:absolute; bottom:0; left:0; background:url(../js/lightbox/images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxPrevious.hover{background-position:-75px -25px;}
#cboxNext{position:absolute; bottom:0; left:27px; background:url(../js/lightbox/images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxNext.hover{background-position:-50px -25px;}
#cboxLoadingOverlay{background:url(../js/lightbox/images/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(../js/lightbox/images/loading.gif) no-repeat center center;}
#cboxClose{position:absolute; bottom:0; right:0; background:url(../js/lightbox/images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxClose.hover{background-position:-25px -25px;}
/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft{background:url(http://www.iplaysoft.com/wp-content/themes/ips/js/colorbox/images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(http://www.iplaysoft.com/wp-content/themes/ips/js/colorbox/images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(http://www.iplaysoft.com/wp-content/themes/ips/js/colorbox/images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(http://www.iplaysoft.com/wp-content/themes/ips/js/colorbox/images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(http://www.iplaysoft.com/wp-content/themes/ips/js/colorbox/images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(http://www.iplaysoft.com/wp-content/themes/ips/js/colorbox/images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(http://www.iplaysoft.com/wp-content/themes/ips/js/colorbox/images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(http://www.iplaysoft.com/wp-content/themes/ips/js/colorbox/images/ie6/borderMiddleRight.png);}
.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}